.poster {
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
   margin: 5px;
}

.first-movie {
   border-color: gold;
   border-style: solid;
}

h3 {
   font-size: 15px;
}

.rules {
   background-color: rgba(78,78,80,0.4);
   padding: 25px 25px;
}

.join-button {
   padding-top: 25px;
}

.oscars-form {
   padding-top: 20px;
}

.center {
   margin-left: auto;
   margin-right: auto;
 }