<head>
    <style>
        .img-container {
            text-align: center;
        }
    </style>
</head>

<div class="row">
    <h1 class="col animated fadeIn mt-3"> {{ list.name}}</h1>
    <div class="col text-right animated fadeIn mt-4">
        <a href="{{ list.link }}">
            <img alt="letterboxd.jpg" src="../../../assets/img/letterboxd.jpg" width="200" height=auto>
        </a>
    </div>
</div>
<small>Solicitada por: {{list.by}}</small>

<hr>

<div class="animated fadeIn fast">
    <div class="img-container">
        <img [src]="list.img" class="img-fluid center" [alt]=" list.name " width="800" height=auto>
    </div>

    <br><br>

    <h3>
        <i>
            {{ list.description }}
        </i>
    </h3>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Película</th>
                <th scope="col">Año</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of list.movies">
                <td> {{ m.name }} </td>
                <td> {{ m.year }} </td>
                <td>
                    <a href="{{ m.link }}">
                        <img alt="letterboxd.jpg" src="../../../assets/img/letterboxd.jpg" width="100" height="auto">
                    </a>
                </td>
            </tr>
        </tbody>


    </table>
    <div class="row">
        <div class="col text-right">
            <a [routerLink]="['/lists']" href="lists" class="btn btn-outline-danger">Regresar</a>
        </div>
    </div>
</div>