<head>
    <style>
        .img-container {
            text-align: center;
        }
        
        video {
            max-width: 100%;
            height: auto;
        }
        
        .jumbotron {
            background-color: rgba(0, 0, 0, 0.247);
        }
    </style>
</head>

<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <h1 class="ml-5">Sobre MiralosMorWeb</h1>
    <div class="container">
        <div class="img-container mt-5">
            <video width="854 " height="480 " controls>
        <source src="./assets/video/intro.mp4 " type="video/mp4 ">
    </video>
        </div>

    </div>

</div>