.img-container {
    text-align: center;
}

video {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: black;
    padding-top: 1rem;
}


