<head>
    <style>
        .img-container {
            text-align: center;
        }
        
        video {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Bienvenidos a Miralos MorWeb</h1>
        <h2>Una página hecha con mucho amor y manija.</h2>
        <div class="img-container mt-3">
            <video width="854 " height="480 " controls>
                <source src="./assets/video/intro.mp4 " type="video/mp4 ">
            </video>
        </div>
    </div>

</div>

<footer class="footer bg-dark text-right">
    <div class="container">
        <img width="50" height="50" src="./assets/img/tegobi.jpg" (click)="this.playAudio()" />
    </div>
</footer>