<head>
    <style>
        .img-container {
            text-align: center;
        }
        
        video {
            max-width: 100%;
            height: auto;
        }
        
        .jumbotron {
            background-color: rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<br>
<br>
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4 text-center">Bienvenidos a Miralos MorWeb</h1>
        <h2 class=" text-center">Una página hecha con mucho amor y manija... Y listas...</h2>

    </div>
    <br><br>
    <div *ngIf="lists.length > 0">
        <app-slideshow [lists]="lists"></app-slideshow>
    </div>
</div>

<footer class="page-footer text-right">
    <div class="container">
        <img width="50" height="50" src="./assets/img/tegobi.jpg" (click)="this.playAudio()" />
    </div>
</footer>