<head>
    <style>
        .img-container {
            text-align: center;
        }
    </style>
</head>

<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Bienvenidos a Miralos MorWeb</h1>
        <h2>Una página hecha con mucho amor y manija.</h2>
        <div class="img-container mt-3">
            <video width="854 " height="480 " controls>
                <source src="../../../assets/video/intro.mp4 " type="video/mp4 ">
            </video>
        </div>
        <div>
            <!-- <img src="../../../assets/img/tegobi.jpg" alt="Play" ng-click="playAudio()" width="100" /> -->

            <!-- <audio id="audio_play">
                <source src="../../../assets/audio/dk.ogg" type="audio/ogg" />
                <source src="../../../assets/audio/dk.mp3" type="audio/mpeg" />
            </audio>

            <img width="100 " height="100 " src="../../../assets/img/tegobi.jpg" onClick="document.getElementById('audio_play.paused').play(); return false;" />

            <img width="100 " height="100 " src="../../../assets/img/tegobi.jpg" onClick="document.getElementById('audio_play').pause(); return false;" /> -->
        </div>
    </div>
</div>