<div class="row text-center mt-5">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                Anterior
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Hoy
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                Siguiente
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary float-right" (click)="addEvent()">
            Agregar Nuevo
        </button>
    </div>

</div>

<br />

<div class="animated fadeIn">
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)">
    </mwl-calendar-month-view>
</div>


<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div class="cal-cell-row">
        <div *ngFor="let event of day.events">
            <i *ngIf="event.discord" class="fab fa-discord ml-2" style="color: blue;"></i>
            <i *ngIf="!event.discord" class="fas fa-calendar ml-2" style="color: crimson;"></i>
            <!-- <div *ngIf="event.discord">
                <i class="fab fa-discord ml-2" style="color: blue"></i>
            </div>
            <div *ngIf="!event.discord">
                <i class="fas fa-calendar ml-2" style="color: crimson;"></i>
            </div> -->
        </div>
    </div>
</ng-template>

<br /><br /><br />

<ng-template #modalContentAdd let-close="close" class="animated fadeIn">
    <div class="modal-header">
        <h5 class="modal-title">Agregar Evento</h5>
        <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="saveNewEvent(addForm)" [formGroup]="addForm">
        <div class="modal-body">
            <div class="container">
                <div class="form-group">
                    <label>Nombre del Evento:</label>
                    <input type="text" name="title" class="form-control" formControlName="title" [class.is-invalid]="titleNotValidAddForm">
                    <small *ngIf="titleNotValidAddForm" class="text-danger">
                        Ingrese al menos 5 caracteres
                    </small>
                </div>
                <div class="form-group">
                    <label>Inicio del Evento:</label>
                    <input type="text" name="start" mwlFlatpickr class="form-control" [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" time24hs="true" altFormat="F j, Y H:i" formControlName="start" [class.is-invalid]="dateNotValidAddForm">
                    <small *ngIf="dateNotValidAddForm" class="text-danger">
                        Ingrese fecha y hora del evento 
                    </small>
                </div>
                <div class="form-group">
                    <label>Descripción:</label>
                    <input type="text" name="description" class="form-control" formControlName="description">
                </div>
                <div class="form-group">
                    <br>
                    <button *ngIf="discordFlag" (click)="discordFlag = false" formControlName="discord" class="btn btn-outline-primary w-50" type="button" ngDefaultControl>Discord
                        <i class="fab fa-discord"></i>
                    </button>

                    <button *ngIf="!discordFlag" (click)="discordFlag = true" formControlName="discord" class="btn btn-outline-secondary w-50" type="button" ngDefaultControl>Otros
                        <i class="fas fa-calendar-alt"></i>
                    </button>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="!addForm.valid" (ngModelChange)="refresh.next()">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</ng-template>


<ng-template #modalContentEdit let-close="close" class="animated fadeIn">
    <div class="modal-header">
        <h5 class="modal-title">Editar Evento</h5>
        <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="saveEditedEvent(editForm)" [formGroup]="editForm">
        <div class="modal-body">
            <div class="container">
                <div class="form-group">
                    <label>Nombre del Evento:</label>
                    <input type="text" name="title" class="form-control" formControlName="title" [class.is-invalid]="titleNotValidEditForm">
                    <small *ngIf="titleNotValidEditForm" class="text-danger">
                        Ingrese al menos 5 caracteres
                    </small>
                </div>
                <div class="form-group">
                    <label>Inicio del Evento:</label>
                    <input type="text" name="start" mwlFlatpickr class="form-control" [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" time24hs="true" altFormat="F j, Y H:i" formControlName="start" [class.is-invalid]="dateNotValidEditForm">
                    <small *ngIf="dateNotValidEditForm" class="text-danger">
                        Ingrese fecha y hora del evento 
                    </small>
                </div>
                <div class="form-group">
                    <label>Descripción:</label>
                    <input type="text" name="description" class="form-control" formControlName="description">
                </div>
                <div class="form-group">
                    <br>
                    <button *ngIf="discordFlag" (click)="discordFlag = false" formControlName="discord" class="btn btn-outline-primary w-50" type="button" ngDefaultControl>Discord
                        <i class="fab fa-discord"></i>
                    </button>

                    <button *ngIf="!discordFlag" (click)="discordFlag = true" formControlName="discord" class="btn btn-outline-secondary w-50" type="button" ngDefaultControl>Otros
                        <i class="fas fa-calendar-alt"></i>
                    </button>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="!editForm.valid" (ngModelChange)="refresh.next()">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</ng-template>

<!-- <h3>
    Editar eventos
    <button class="btn btn-primary float-right" (click)="addEvent()">
      Agregar Nuevo
    </button>
    <div class="clearfix"></div>
</h3>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Título</th>
                <th>Color</th>
                <th>Empieza</th>
                <th>Termina</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let event of events">
                <td>
                    <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" />
                </td>
                <td>
                    <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()" />
                    <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()" />
                </td>
                <td>
                    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start" (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                </td>
                <td>
                    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end" (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteEvent(event)">
              Delete
            </button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->