<h1><small>Buscando: {{ word }}</small></h1>
<hr>

<div *ngIf="isLoading">
    <img src="./assets/img/popcorn.gif" alt="michael">
    <!-- <button class="btn btn-primary animated fadeIn faster" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button> -->
</div>
<div *ngIf="!isLoading && searchedLists.length > 0">
    <div class="card-columns animated fadeIn faster">

        <app-list-card [list]="list" [index]="i" *ngFor="let list of searchedLists; let i = index"></app-list-card>

    </div>
</div>


<div class="alert alert-warning text-center mt-3 animated fadeIn faster" *ngIf="!isLoading && searchedLists.length === 0">
    <h4 class="alert-heading">No existen resultados con el término: {{word}}</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<!-- <div *ngIf="searchedLists && searchedLists.length >0">
    <div class="card-columns">

        <app-list-card [list]="list" [index]="i" *ngFor="let list of searchedLists; let i = index"></app-list-card>

    </div>
</div>

<div *ngIf="searchedLists == undefined || searchedLists.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{word}}
        </div>
    </div>
</div> -->

<!-- <div *ngIf="!checkArray(searchedLists)">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{word}}
        </div>
    </div>
</div>
<div *ngIf="checkArray(searchedLists)">
    <div class="card-columns">
        <app-list-card [list]="list" [index]="i" *ngFor="let list of searchedLists; let i = index"></app-list-card>
    </div>
</div> -->