<ngx-spinner
    bdColor="rgba(78,78,80,0.8)"
    template="<img src='./assets/img/popcorn.gif' alt='popcorn.gif'>">
</ngx-spinner>

<div *ngIf="isFaretta && !isLoading && searchedLists.length === 0 && !unaccepted">
    <div class="img-container mt-3 text-center">
        <br>
        <img src="./assets/img/black.png" alt="black.png">
    </div>
</div>

<div *ngIf="!isLoading && unaccepted">
    <br><br>
    <div class="img-container mt-3 text-center">
        <video width="854 " height="480 " autoplay>
            <source src="./assets/video/homealone.mp4 " type="video/mp4 ">
        </video>
    </div>
</div>
<br><br>
<div *ngIf="!isLoading && searchedLists.length > 0">
    <h3>Resultados</h3>
    <div class="card-columns animated fadeIn faster">

        <app-list-card [list]="list" [index]="i" *ngFor="let list of searchedLists; let i = index"></app-list-card>

    </div>
</div>
<div class="alert alert-warning text-center mt-3 animated fadeIn faster" *ngIf="!isFaretta && !isLoading && searchedLists.length === 0 && !unaccepted">
    <h4 class="alert-heading">No existen resultados con el término: {{word}}</h4>

</div>