<!-- <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" (click)="showList( list.name )" *ngFor="let list of lists" [ngStyle]="{
                'background-size': 'cover',
                'background-image': 'url('+list.img+')'}">

            <div class="list-description">


                <h3 (click)="showList(list.name)">{{ list.name }}</h3>
                <p>{{ list.description }}</p>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>

    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()" class="swiper-button-next"></div>

    <div class="swiper-scrollbar"></div>
</div> -->

<swiper>
    <ng-template *ngFor="let list of lists" swiperSlide>
        <div class="swiper-slide" (click)="showList( list.name )" [ngStyle]="{
            'background-size': 'cover',
            'background-image': 'url('+list.img+')'}">

            <div class="list-description">


                <h3 (click)="showList(list.name)">{{ list.name }}</h3>
                <p>{{ list.description }}</p>
            </div>
        </div>
    </ng-template>


</swiper>
