<head>
   <style>
       .img-container {
           text-align: center;
       }        
       .jumbotron {
           background-color: rgba(0, 0, 0, 0.2);
       }
   </style>
</head>
<br>
   
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
   <div *ngIf="step === 0">
      <input class="form-control" id="password" type="password" [formControl]="password" placeholder="Password"
      (keydown.enter)="validatePassword()">
   </div>
   <div class="container" *ngIf="step === 1 && !loading">
      <div *ngFor="let list of moviesLists">
         <p style="font-weight: 600;"><u>{{ list.name }} - {{ list.email }}</u></p>
         <ol>
            <li *ngFor="let movie of list.movies">{{ movie }}</li>
         </ol>      
      </div>
   </div>
</div>