/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Roboto';
}

:root {
    /* HSL */
    --hue: 120;
    --lightness: 70%;
    /* Scaffolding */
    --body-bg: hsl(var(--hue), calc(var(--saturation) * 0), calc(var(--lightness) * 0.25));
    /* Card */
    --card-bg: hsl(var(--hue), calc(var(--saturation) * 0), calc(var(--lightness) * 0.325));
    --card-border-color: hsla(var(--hue), calc(var(--saturation) * 0), calc(var(--lightness) * 1.8), 0.05);
    --card-text-color: hsl(var(--hue), calc(var(--saturation) * 0), var(--lightness));
    --card-link-color: hsl(calc(var(--hue) + 180), var(--saturation), calc(var( --lightness) * 1.1));
}

html {
    --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);
}

body {
    padding-bottom: 50px;
    background-color: #01011f;
}

small {
    color: lightblue;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 200;
    color: white;
}

p {
    color: white;
}

hr {
    color: white;
}

.nav-link {
    font-weight: 200;
    color: white;
}

.navbar-brand {
    font-weight: 200;
    color: #bd4c5f !important;
}

.btn-outline-success {
    border-color: #bd4c5f !important;
    ;
    color: #bd4c5f !important;
    ;
}

.btn-outline-success:hover {
    background-color: #272a36;
    color: white !important;
}

.block {
    display: block;
}

.img-logo {
    width: 120px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}

.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.fa-imdb {
    padding: 2px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-imdb {
    color: rgb(255, 238, 0);
}