/* You can add global styles to this file, and also import other style files */

@import '~swiper/swiper-bundle';

$font-primary: 'Poppins', Arial, sans-serif;

:root {
    /* HSL */
    --hue: 120;
    --lightness: 70%;
    /* Scaffolding */
    --body-bg: hsl(var(--hue), calc(var(--saturation) * 0), calc(var(--lightness) * 0.25));
    /* Card */
    --card-bg: hsl(var(--hue), calc(var(--saturation) * 0), calc(var(--lightness) * 0.325));
    --card-border-color: hsla(var(--hue), calc(var(--saturation) * 0), calc(var(--lightness) * 1.8), 0.05);
    --card-text-color: hsl(var(--hue), calc(var(--saturation) * 0), var(--lightness));
    --card-link-color: hsl(calc(var(--hue) + 180), var(--saturation), calc(var( --lightness) * 1.1));
}

html {
    --text-color-normal: hsl(210, 10%, 62%);
    --text-color-light: hsl(210, 15%, 35%);
    --text-color-richer: hsl(210, 50%, 72%);
    --text-color-highlight: hsl(25, 70%, 45%);
}

body {
    background-color: #1d232a;
}

small {
    color: lightblue;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5, 
.p {
	line-height: 1.5;
	font-weight: 700;
	font-family: $font-primary;
	color: white;
}

p, li {
    color: white;
}

hr {
    color: white;
}

.btn-outline-success {
    border-color: #bd4c5f !important;
    ;
    color: #bd4c5f !important;
    ;
}

.btn-outline-success:hover {
    background-color: #272a36;
    color: white !important;
}

.btn-primary {
    background-color: #6F2232;
    border-color: #6F2232;
}
.btn-primary:hover{
    background-color: #bd4c5f;
    border-color: #bd4c5f;
}

.btn-primary:focus{
    background-color: #C3073F!important;
    border-color: #C3073F!important;
    box-shadow: 0 0 0 0.2rem rgb(26 26 29 / 50%)!important;
}

.btn-primary:active{
    background-color: #C3073F!important;
    border-color: #C3073F!important;
}

.btn-primary:disabled {
    background-color: #4E4E50;
    border-color: #4E4E50;
}

.btn-outline-primary {
	color: #ffeff1;
	background-color: #883140;
	border: 0px;
	text-transform: uppercase;
    margin-top: 30px;
	font-size: 13px;
}
.btn-outline-primary:hover {
    background-color: #bd4c5f;
    border-color: #bd4c5f;
    font-weight: 600;
}

.btn-outline-primary:focus{
    background-color: #C3073F!important;
    border-color: #C3073F!important;
    box-shadow: 0 0 0 0.2rem rgb(26 26 29 / 50%)!important;
}

.btn-outline-primary:active{
    background-color: #C3073F!important;
    border-color: #C3073F!important;
}

.btn-outline-danger {
    color: #4E4E50;
    border-color: #4E4E50;
    font-weight: 600;
}
.btn-outline-danger:hover {
    background-color: #4E4E50;
    border-color: #4E4E50;
    font-weight: 600;
}

.btn-danger {
    background-color: #6F2232;
    border-color: #6F2232;
}
.btn-danger:hover {
    background-color: #bd4c5f;
    border-color: #bd4c5f;
}

.card-body {
    border-radius: 8px;
	background-color: #343443;}

.block {
    display: block;
}

.img-logo {
    width: 120px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.dark-modal .modal-content {
    background-color: #1A1A1D;
    color: white;
    border-color: #bd4c5f;
}

.modal-header {
    border-bottom-color: #bd4c5f;
}

.modal-footer {
    border-top-color: #bd4c5f;
}

.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.fa-imdb {
    padding: 2px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-imdb {
    color: rgb(255, 238, 0);
}

#mmw-navbar {
    background: #14181c!important;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75) !important;
}

.card-columns .card {
    border-radius: 10px;
    border: 0px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.clickable {
    cursor: pointer;
 }